

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300;400&display=swap');
*
{
    padding: 0;
    margin: 0;
}
.body{
    background-image: url("../snakebg.png");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox
{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

#hiScoreBox
{
    position: absolute;
    top: 59px;
    right: 100px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

#board
{
    background: linear-gradient(rgb(109, 154, 109),rgb(183, 183, 115));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);

}
#game
{
    position:absolute;
    color: rgb(230, 200, 98);
    padding: 5px 10px;
    text-align: right;
    background: rgba(0, 0, 0, 0.4);
    bottom: 50px;
    right:0;
    font-size: 14px;
    font-weight: 700;
    z-index: 1 !important;
}
#over
{
    display: none;
}
.head
{
    background: linear-gradient(red,yellow);
    border: 2px solid purple(134, 134, 180);
    transform: scale(1.02);
    border-radius: 9px;
}
.snake
{
    background: linear-gradient(purple,blue);
    border: 0.25vmin solid white;
    border-radius: 12px;
}
.food
{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}